{
  "browserify": {
    "options": {
      "paths": [],
      "external": [],
      "extensions": [],
      "transform": []
    }
  },
  "exports": {
    "basedir": "src",
    "scripts": [
        {"file" : "src/scripts/index.js" , "isParent" : true , "external" : ["mod2.js"] },
        {"file": "src/scripts/depends/mod2.js", "parents" : ["src/scripts/index.js"], "expose" : "mod2.js"}
    ],
    "styles": ["./src/styles/exports/**/*.scss"],
    "htmls": ["./html/**/*.html"],
    "insertManifest" : true
  },
  "server": {
    "parseFileType": ["css", "js", "html"]
  },
  "buildPath": "./build",
  "packPath": "./pack",
  "verpath": "./ver",
  "deploy": {
    "static": {
      "src": "./build/src/",
      "dest": "/home/www/static/",
      "username": "xxx",
      "exclude": [".git", ".svn"],
      "host": { 
        "dev" : "10.0.0.1",
        "beta": "10.0.0.1",
        "prd" : "10.0.0.1"
      }
    }
  }
}
